@import url('https://fonts.googleapis.com/css?family=Barlow:300,400,500,600,700')



// clouds(position)
// 	background: url('../../img/cloud_${position}')
//
//
//
// headline()
// 		font-weight 700
//
// subhead()
// 		font-weight 500
//
// copy()
// 		font-weight 300
//
// p {
// 	font-weight 300!important
// }
// h1{
// 	font-weight 700!important
// }
.white{
	color white
}
.slide-in-right-enter-active, .slide-in-right-leave-active
	transition transform default-timing ease-out-quart,
						 opacity default-timing ease-out-quart

.slide-in-right-enter, .slide-in-right-leave-to, .slide-in-right-leave-active
	transform translateX(100%)
	opacity 0

.slide-in-down-enter-active, .slide-in-down-leave-active
	transition transform default-timing ease-out-quart,
						 opacity default-timing ease-out-quart

.slide-in-down-enter, .slide-in-down-leave-to, .slide-in-down-leave-active
	transform translateY(-100%)
	opacity 0

.fade-in-up-enter-active, .fade-in-up-leave-active
	transition opacity default-timing ease-out-quart,
						 transform default-timing ease-out-quart

.fade-in-up-enter, .fade-in-up-leave-to, .fade-in-up-leave-active
	transform translateY(150px)
	opacity 0

.fade-in-down-enter-active, .fade-in-down-leave-active
	transition opacity default-timing ease-out-quart,
						 transform default-timing ease-out-quart

.fade-in-down-enter, .fade-in-down-leave-to, .fade-in-down-leave-active
	transform translateY(150px)
	opacity 0

.fade-out-enter-active, .fade-out-leave-active
	transition opacity slower-timing ease-out-quart,
						 transform slower-timing ease-out-quart

.fade-out-enter, .fade-out-leave-to , .-leave-active
	opacity 0





wrapped()
	padding: 0 rem(gutter)
	position: relative;
	max-width: 1200px
	margin: 0 auto
	@media (max-width tablet)
			padding: 0 rem(mobileGutter)


vertical_fluid()
	padding rem(180px) 0

[class^="clouds-"], [class*=" clouds-"]
	position absolute
