
load-screen(inline-template): transition(name='fade-out')
	.load-screen(v-if = 'test')
		.khLogo(:class="{active: test}")
			svg#Layer_1(data-name='Layer 1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 2271 126')
				//- defs
				//- 	mask#mask(x='0', y='0', width='2271', height='126', maskunits='userSpaceOnUse')
				//- 		g#mask-2
				//- 			polygon#path-1.cls-1(points='0 0 2271 0 2271 126 0 126 0 0')
				title KITTYHAWK_LOGO_URI
				g#KH_Opt3---Dark
					g#KITTYHAWK_LOGO_URI
						g.cls-2
							path#Fill-1.cls-3(d='M2166.42,65.51l84.95-53.82h14.47l-83.78,54.82L2271,126h-17.73l-86.85-58.24V126h-10.64V11.69h10.64Zm-267-53.82,40.76,106,42.26-106H1994L1948,126h-15.48L1892.4,22.75l-40,103.25H1836.9l-46-114.31h11.57l42.27,106,40.67-106ZM1352.21,126V70.42H1249.8V126h-10.4V11.69h10.4V60.94h102.41V11.69h10.39V126ZM1024.06,77.58V126h-10.4V77.58L960,11.69H972.4l46.51,57.24,46.33-57.24h12.48ZM762.31,21.17V126H752V21.17H700V11.69H814.3v9.48Zm-257.1,0V126H494.89V21.17h-52V11.69H557.21v9.48ZM273.65,126h10.4V11.69h-10.4Zm-263-60.49L95.59,11.69h14.47L26.29,66.51,115.22,126H97.5L10.65,67.76V126H0V11.69H10.65Z')
				g.cls-2
					path#Fill-1-2.cls-3(data-name='Fill-1', d='M1587.58,0l65.93,126h-11.39L1587.64,21.75,1533.05,126h-11.4Z')
