// @font-face
// 	font-family 'icomoon'
// 	src url('~fonts/icomoon.ttf') format('truetype'),
// 		url('~fonts/icomoon.woff') format('woff'),
// 		url('~fonts/icomoon.svg') format('svg')
// 	font-weight normal
// 	font-style normal
// 	text-decoration none
//
// [class^="icon-"], [class*=" icon-"]
// 	font-family 'icomoon' !important
// 	speak none
// 	font-style normal
// 	font-weight normal
// 	font-variant normal
// 	text-decoration none
// 	text-transform none
// 	line-height 1
//
// 	/* Better Font Rendering =========== */
// 	-webkit-font-smoothing antialiased
// 	-moz-osx-font-smoothing grayscale
//
// .icon-close
// 	&:before
// 		content icon-close
// .icon-cora
// 	&:before
// 		content icon-cora
// .icon-facebook
// 	&:before
// 		content icon-facebook
// .icon-flyer
// 	&:before
// 		content icon-flyer
// .icon-hamburger
// 	&:before
// 		content icon-hamburger
// .icon-up-arrow
// 	text-align: center
// 	position: relative
// 	&:after
// 		content icon-up-arrow
// .icon-plus
// 	&:before
// 		content icon-plus
// .icon-twitter
// 	&:before
// 		content icon-twitter
// .icon-youtube
// 	&:before
// 		content icon-youtube
