.home-page-middle-content
	.clouds
	//- .wrapped
		//- .text-container(v-in-viewport='{ bottom: -200, top: -200 }' 
		//- 	@click='smoothScroll("#fb")')
		//- 	p!= get_field("copy")
		//- 	a.icon-up-arrow
		//- 		p scroll up
