// Breakpoints
desktop = 1024px
tablet-landscape = 1024px
tablet = 768px
mobile-landscape = 580px
mobile = 500px
small-mobile = 375px
nav-break = 890px

// Colors
// yellow = #ffd400
// blue = #107ddc
// black = #262625
// grey = #596869

gutter = 120px
mobileGutter = 20px

Fira = 'Barlow', sans-serif

lightGrey = #727272
darkGrey = #222222
// Layout
max-w = 1440px
header-z = 10
body-font-size = 16px
tablet-landscape = 1024px
tablet = 768px
// tablet = 900px
mobile = 500px

// Transitions
default-timing = 300ms
slower-timing = 500ms
quick-timing = 100ms
short-delay = 100ms
long-delay = 300ms


icon-InstagramButton = "\e90a"
icon-close2 = "\e90b"
icon-kh-logo = "\e909"

// Icons
icon-kh-logo = "\e909"
icon-close = "\e900"
icon-cora = "\e901"
icon-facebook = "\e902"
icon-flyer = "\e903"
icon-hamburger = "\e904"
icon-up-arrow = "\e905"
icon-plus = "\e906"
icon-twitter = "\e907"
icon-youtube = "\e908"



//The BKWLD shared stylus library
@require '~bukwild-stylus-library'

// // Project mixins
 @require '~styles/index.styl'
